* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.work-images-container {
  display: flex;
  direction: row;
  flex-wrap: wrap;
}

.portfolio-item {
  padding: 10px;
  font-size: 16px;
  flex: 33.3%
}



/* media queries */
/* Mobile */
@media (max-width: 768px) {
  body {
    background-color: green;
  }

  .work-images-container {
    flex-direction: column;
  }

  .portfolio-item {
    flex: 100%;
  }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: yellow;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  body {
    background-color: red;
  }
}